<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active">
                    <span data-feather="home"></span>
                    Players Joined <span class="sr-only">(current)</span>
                </a>
            </li>
        </ul>
        <div class="players-list">
            <ul class="nav flex-column" *ngFor="let players of players"> 
                <li class="nav-item">
                    <a class="nav-link">
                        <span data-feather="file"></span>
                       {{players}}
                    </a>
                </li>
            </ul>
        </div>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>My Score</span>
            <a class="d-flex align-items-center text-muted" aria-label="Add a new report">
                <span data-feather="plus-circle"></span>
            </a>
        </h6>

    </div>
</nav>